---
import EditorPage from "@/components/blocks/editor"
import Main from "@/layouts/main.astro"

if (!Astro.locals.session) {
  return Astro.redirect("/login")
}
---

<Main>
  <EditorPage client:only="react" />
</Main>
